@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

/* ============== global classes for all project ============== */
.w-fit {
  width: fit-content !important;
}

#welcome-page-component {
  background-color: #3D2C8D;
  transition: 0.3s;
  inset: 0;
}

#welcome-page-component .welcome-page-content .welcome-page-text h1 {
  font-size: 50px;
  font-weight: 700;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  transition: 0.2s;
}

#welcome-page-component .welcome-page-content .welcome-page-text h1:hover {
  color: white;
}

#welcome-page-component .welcome-page-content .welcome-page-text h4 {
  width: 85%;
}

#welcome-page-component .welcome-page-content .welcome-page-text .btns button {
  background-color: #916BBF;
  outline: none;
  border: 2px solid transparent;
  color: white;
  padding: 5px 10px;
  margin-right: 18px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
  position: relative;
  transition: 0.5s all;
}

#welcome-page-component .welcome-page-content .welcome-page-text .btns button:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 30px 10px #916BBF;
}

#welcome-page-component .welcome-page-content .welcome-page-banner img {
  transition: 0.5s all;
  position: relative;
  animation: welcome-page-banner 5s 0s infinite ease-in-out;
  bottom: 0;
}

#welcome-page-component .modal {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
  z-index: 1;
}

#welcome-page-component .modal .modal-content {
  background-color: white;
  padding: 14px;
  border-radius: 10px;
  width: 500px;
  max-width: 100%;
  position: relative;
  z-index: 2;
}

#welcome-page-component .modal .modal-content input, #welcome-page-component .modal .modal-content label {
  cursor: pointer;
}

#welcome-page-component .modal .modal-close-btn {
  top: 10px;
  right: 8px;
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.3);
  outline: none;
  color: #3D2C8D;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 0.7;
  transition: 0.2s;
}

#welcome-page-component .modal .modal-close-btn i {
  transition: 0.2s;
}

#welcome-page-component .modal .modal-close-btn:hover {
  opacity: 1;
  border-color: grey;
}

#welcome-page-component .modal .modal-close-btn:hover i {
  transform: rotateZ(90deg);
}

#welcome-page-component #info-modal {
  transform: translateX(100%);
}

#welcome-page-component #info-modal.show {
  transform: translateX(0%);
}

#welcome-page-component #starting-modal {
  opacity: 0;
  visibility: hidden;
}

#welcome-page-component #starting-modal.show {
  opacity: 1;
  visibility: visible;
}

#welcome-page-component.started {
  top: -100%;
}

@keyframes welcome-page-banner {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}

#tasks-page-component {
  min-height: 100vh;
  background: #4568DC;
  /* fallback for old browsers */
  background: linear-gradient(to right, #B06AB3, #4568DC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*# sourceMappingURL=style.css.map */