@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

/* ============== global classes for all project ============== */
.w-fit {
  width: fit-content !important;
}

.modal {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
  z-index: 1;
}
.modal .modal-content {
  background-color: white;
  padding: 14px;
  border-radius: 10px;
  width: 500px;
  max-width: 100%;
  position: relative;
  z-index: 2;
}
.modal .modal-content input, .modal .modal-content label {
  cursor: pointer;
}
.modal .modal-close-btn {
  top: 10px;
  right: 8px;
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.3);
  outline: none;
  color: #3D2C8D;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 0.7;
  transition: 0.2s;
}
.modal .modal-close-btn i {
  transition: 0.2s;
}
.modal .modal-close-btn:hover {
  opacity: 1;
  border-color: grey;
}
.modal .modal-close-btn:hover i {
  transform: rotateZ(90deg);
}

#welcome-page-component {
  background-color: #3D2C8D;
  transition: 0.3s;
  inset: 0;
  z-index: 9999;
}
#welcome-page-component .welcome-page-content .welcome-page-text h1 {
  font-size: 50px;
  font-weight: 700;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  transition: 0.2s;
}
#welcome-page-component .welcome-page-content .welcome-page-text h1:hover {
  color: white;
}
#welcome-page-component .welcome-page-content .welcome-page-text h4 {
  width: 85%;
}
#welcome-page-component .welcome-page-content .welcome-page-text .btns button {
  background-color: #916BBF;
  outline: none;
  border: 2px solid transparent;
  color: white;
  padding: 5px 10px;
  margin-right: 18px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
  position: relative;
  transition: 0.5s all;
}
#welcome-page-component .welcome-page-content .welcome-page-text .btns button:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 30px 0px #916BBF;
}
#welcome-page-component .welcome-page-content .welcome-page-banner img {
  transition: 0.5s all;
  position: relative;
  animation: welcome-page-banner 5s 0s infinite ease-in-out;
  bottom: 0;
}
#welcome-page-component #info-modal {
  transform: translateX(100%);
}
#welcome-page-component #info-modal.show {
  transform: translateX(0%);
}
#welcome-page-component #starting-modal {
  opacity: 0;
  visibility: hidden;
}
#welcome-page-component #starting-modal.show {
  opacity: 1;
  visibility: visible;
}

#welcome-page-component.started {
  top: -120%;
}

@keyframes welcome-page-banner {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}
#tasks-page-component {
  min-height: 100vh;
  background: #4568DC;
  /* fallback for old browsers */
  background: linear-gradient(to right, #B06AB3, #4568DC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#tasks-page-component .add-task .btns {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#tasks-page-component .add-task #add-task-data-modal {
  transform: rotateX(90deg);
}
#tasks-page-component .add-task #add-task-data-modal h2 {
  background-image: linear-gradient(to right, #B06AB3, #4568DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
}
#tasks-page-component .add-task #add-task-data-modal .task-details .task-details-input {
  width: fit-content;
  margin-bottom: 12px;
  padding: 5px;
  position: relative;
  margin-top: 24px;
}
#tasks-page-component .add-task #add-task-data-modal .task-details .task-details-input input {
  height: 50px;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 300px;
  max-width: 100%;
  border-radius: 5px;
  padding-left: 8px;
}
#tasks-page-component .add-task #add-task-data-modal .task-details .task-details-input textarea {
  min-width: 300px;
  min-height: 40px;
  height: 50px;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
}
#tasks-page-component .add-task #add-task-data-modal .task-details .task-details-input label {
  position: absolute;
  opacity: 0.7;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: 0.3s all;
  font-size: 18px;
  font-weight: 500;
}
#tasks-page-component .add-task #add-task-data-modal .task-details .task-details-input label::selection {
  background-color: transparent;
}
#tasks-page-component .add-task #add-task-data-modal .task-details .task-details-input input:focus ~ label, #tasks-page-component .add-task #add-task-data-modal .task-details .task-details-input textarea:focus ~ label, #tasks-page-component .add-task #add-task-data-modal .task-details .task-details-input .has-data ~ label {
  font-size: 14px;
  top: -7px;
  color: #5A68D4;
  opacity: 1;
}
#tasks-page-component .add-task #add-task-data-modal .task-details .task-details-input button {
  background-color: #5A68D4 !important;
  border-color: #5A68D4;
  font-size: 18px;
}
#tasks-page-component .add-task #add-task-data-modal .task-details .task-details-input button:focus {
  box-shadow: 0 0 0 0.25rem rgba(90, 104, 212, 0.5);
}
#tasks-page-component .add-task #add-task-data-modal.show {
  visibility: visible;
  transform: rotateX(0deg);
}

#display-tasks h2::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.6);
  width: 40%;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.4s;
  border-radius: 5px;
}
#display-tasks h2:hover::after {
  width: 75%;
  background-color: white;
}
#display-tasks #tasks {
  min-width: 300px;
  width: 600px;
  max-width: 100%;
  min-height: 100px;
}
#display-tasks #tasks .task {
  margin-bottom: 12px;
}
#display-tasks #tasks .task .task-info {
  background-color: white;
  position: relative;
}
#display-tasks #tasks .task .task-info h4::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 3px;
  width: 0%;
  background: linear-gradient(to right, #4568DC, #B06AB3);
  transition: 0.3s;
  border-radius: 5px;
}
#display-tasks #tasks .task .task-info .task-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#display-tasks #tasks .task .task-info .task-btns i {
  width: 50px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
}
#display-tasks #tasks .task .task-info .task-btns .task-done {
  background-color: green;
}
#display-tasks #tasks .task .task-info .task-btns .task-delete {
  background-color: rgba(255, 0, 0, 0.8);
}
#display-tasks #tasks .task.done .task-info {
  opacity: 0.7;
}
#display-tasks #tasks .task.done .task-info h4::before {
  width: 100%;
}
#display-tasks #tasks .task-show {
  animation: taskShow 0.5s 0s 1 linear;
}

@keyframes taskShow {
  0% {
    top: 30px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */